<!doctype html>
<head>
<title>Missing from Wikipedia</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='css/my.css')}}'>
</head>
<body>  <h1>What pages are missing from Wikipedia?</h1>
  <div class="instructions" >

      Please type in names or upload a file of names, and we'll check whether they're on Wikipedia.</div>

<div class="dataworkflow">
    <form id='nametocheck' method='post' action='index' > <!--'index' is the @app.route -->
      <p class="textnames">
    Names (one per line): <textarea name='pagename' ></textarea> Wikipedia: <select name='langname'>
  <option value="en">English</option>
  <option value="de">German</option>
  <option value="fr">French</option>
  <option value="es">Spanish</option>
  <option value="ta">Tamil</option>
  <option value="he">Hebrew</option>
      </select>
    <input type='submit' value='Submit' />
      </p>
    </form>

    <form id='fileofnames' method='post' action='index' enctype=multipart/form-data >
      File, please! <input type='file' name='fileofnames'></input>

    Wikipedia: <select name='langname'>
  <option value="en">English</option>
  <option value="de">German</option>
  <option value="fr">French</option>
  <option value="es">Spanish</option>
  <option value="ta">Tamil</option>
  <option value="he">Hebrew</option>
      </select>

      <input type='submit' value='Submit!!!!' />
      </form>
  </div>

</body>
