body {
/*
built-in HTML tag body
*/
background-color: #eeeeee;
font-family: Liberation, sans-serif; /* figure out floss version*/
color: #111111;
width: 100%;
    }

.textnames { 
/*
user-defined CLASS in a tag, e.g., p
*/
    }

#nametocheck {
/*
unique ID of a tag, such as form id or div id or in a headline
*/
    }

.instructions {
background-color: #ffffff;
width: 70%;
color: #222222;
}

.dataworkflow {

}
