
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
/*
built-in HTML tag body
*/
  line-height: 1.428571429;
  color: #331133;
  background-color: #ffaff3;
}

button,
input,
select,
textarea {
  margin: 10;
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 1;
  border: 1;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 1;
}

.textnames { 
/*
user-defined CLASS in a tag, e.g., p
*/
    }

.instructions {
background-color: #efefee;
width: 50%;
color: #222222;
}

#nametocheck {
/*
unique ID of a tag, such as form id or div id or in a headline
*/
color: #111221;
background-color: #eccaae;
    }

#fileofnames {
/*
unique ID of a tag, such as form id or div id or in a headline
*/
color: #111221;
background-color: #bbcaae;
    }
